@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/* ============= Root =============== */
:root {
  /* Fonts */
  --ff-josefin: "Josefin Sans", sans-serif;
  --fw-regular: 400;
  --fw-bold: 400;

  /* Colors */
  --clr-primary: hsl(220, 98%, 61%);
  --clr-primary-gradient: linear-gradient(
    135deg,
    hsl(192, 100%, 67%) 0%,
    hsl(280, 87%, 65%) 100%
  );

  --clr-formBackground: white;
  --clr-bodyBackground: hsl(0, 0%, 98%);
  --clr-background: hsl(236, 33%, 92%);
  --clr-text-200: hsl(233, 11%, 84%);
  --clr-text-400: hsl(236, 9%, 61%);
  --clr-text-600: hsl(235, 19%, 35%);

  /* Font Size */
  --fs-normal-size: 1.125rem;
  --fs-heading-size: 2.25rem;
}
.dark-theme {
  /* Colors */
  --clr-primary-gradient: linear-gradient(
    135deg,
    hsl(192, 100%, 67%) 0%,
    hsl(280, 87%, 65%) 100%
  );

  --clr-formBackground: hsl(235, 24%, 19%);
  --clr-bodyBackground: hsl(235, 21%, 11%);
  --clr-background: hsl(240, 22%, 7%);
  --clr-text-200: hsl(237, 14%, 26%);
  --clr-text-400: hsl(234, 11%, 52%);
  --clr-text-600: hsl(234, 39%, 85%);
}

/* ============= GLOBAL CSS =============== */

/* Josh's Custom CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: var(--clr-bodyBackground);
  font-family: var(--ff-josefin);
  line-height: 1;
  color: var(--clr-text-400);
}
ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
}

.flex[direction="row"] {
  display: flex;
  flex-direction: row;
}
.flex[direction="col"] {
  display: flex;
  flex-direction: column;
}

input[type="text"],
textarea {
  border: none;
  resize: none;
  overflow-y: hidden;
  outline: none;
  background-color: var(--clr-formBackground);
  color: var(--clr-text-600);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--clr-text-400);
  text-transform: capitalize;
}
button:hover {
  color: var(--clr-primary);
}

.checkbox {
  border-radius: 50vh;
  height: 25px;
  width: 25px;
  outline: 1px solid var(--clr-text-200);
  > img {
    opacity: 0;
  }

  &:hover {
    /* outline with gradient */
    outline-color: var(--clr-primary-gradient);
  }

  &.checked {
    background: var(--clr-primary-gradient);
    outline: none;
    > img {
      opacity: 1;
    }
    display: grid;
    place-content: center;
  }
}

/* ============= PROJECT CSS =============== */

.bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 25%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.content-center {
  max-width: min(90vw, 40rem);
  margin-inline: auto;
  margin-top: 3em;
  gap: 3em;

  > p {
    text-align: center;
  }
}

.heading-section {
  text-align: center;
  align-items: center;
  justify-content: space-between;

  .app-heading {
    font-size: var(--fs-heading-size);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    display: table-cell;
    line-height: 0.5;
  }

  div:hover {
    position: relative;
    &::before {
      content: "Switch Theme";
      width: max-content;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.5);

      position: absolute;
      right: calc(100% + 1em);
      height: 100%;
      top: 25%;
    }
  }

  .theme-switch {
    cursor: pointer;
  }
}

.main-section {
  --padding: 1.25em 1.5em;
  --gap: 1em;
  --borderRadius: 0.4em;
  gap: 1.5em;
}

/* Form Styles */
.form-control {
  background-color: var(--clr-formBackground);
  border-radius: var(--borderRadius);
  /* box-shadow: 0px 10px 20px var(--clr-background); */
  padding: var(--padding);
  gap: var(--gap);
  align-items: center;

  .checkbox {
    aspect-ratio: 1 / 1;
    &:hover {
      outline: 1px solid var(--clr-text-200);
    }
  }

  .text-input {
    width: 100%;
  }
}

.items {
  position: relative;
  transition: all 0.15s;
}

.items,
.last-item-ext {
  z-index: 1;
  border-radius: var(--borderRadius);
  background-color: var(--clr-formBackground);
  box-shadow: 0px 20px 20px var(--clr-background);
  /* overflow: hidden; */
}

.single-item {
  border-bottom: 1px solid var(--clr-text-200);
  gap: var(--gap);
  padding: var(--padding);
  align-items: center;
  cursor: grab;
  transition: scale 0.15s;
  touch-action: manipulation;

  p {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */

    flex: 1;
    color: var(--clr-text-600);
    &.completed {
      color: var(--clr-text-200);
      text-decoration: line-through;
    }
  }

  .remove-btn {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 101;
    opacity: 0;
    &:hover {
      img {
        filter: brightness(0) saturate(100%) invert(36%) sepia(64%)
          saturate(1588%) hue-rotate(203deg) brightness(103%) contrast(98%);
      }
    }
  }

  &:hover {
    .remove-btn {
      opacity: 1;
    }
  }
}

.dark-theme .single-item p {
  &.completed {
    color: var(--clr-text-400);
    opacity: 0.6;
  }
}

.single-item.dragging {
  pointer-events: none;
  touch-action: none;
  -ms-touch-action: none;
  cursor: grabbing;

  position: fixed;

  border: 1px solid var(--clr-text-200);
  background-color: var(--clr-formBackground);
  box-shadow: 0px 20px 20px var(--clr-background);
  scale: 1.03;

  border-radius: var(--borderRadius);
  z-index: 100;
}

.ext {
  gap: var(--gap);
  font-weight: bold;

  button:hover {
    color: var(--clr-text-600);
  }
  .active {
    color: var(--clr-primary);
  }
}

.last-item {
  gap: var(--gap);
  padding: var(--padding);
  justify-content: space-between;
  align-items: center;

  .ext {
    @media (max-width: 539px) {
      text-align: center;
      display: none;
    }
  }
}

.last-item-ext {
  display: none;
  padding: var(--padding);
  justify-content: center;

  @media (min-width: 540px) {
    display: none !important;
  }
}

/* Loading Animation */
#root {
  animation: visible 0.5s linear 3.5s forwards;
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* For Site Loading Animation */
.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.text-line {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 2.5s linear forwards, filling 2.5s ease-in forwards;
  font-size: 80px;
}

.text-line text {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  fill: url(#MyGradient);
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  0%,
  90% {
    fill-opacity: 0;
  }
  100% {
    fill: transparent;
    fill-opacity: 1;
  }
}
